{
    "overrides": [
        {
            "files": ["*.md"],
            "options": {
                "parser": "markdown-nocjsp"
            }
        },
        {
            "files": ["*.html"],
            "options": {
                "parser": "go-template"
            }
        }
    ]
}
