#access figure {
  background: #00000010;
  height: 75vh;
  margin: 0;
  width: 100%;
}

#access iframe {
  height: 100%;
  width: 100%;
}

#access .addr {
  margin: 1em 0;
  text-align: right;
}

#access address {
  border: var(--color-secondary) solid 1px;
  border-radius: 4px;
  display: inline-block;
  font-style: normal;
  padding: 2em;
  text-align: left;
}

#access .postcode::before,
#access .tel::before {
  margin: 0 0.25em 0 0;
}

#access .postcode::before {
  content: "ã€’";
}

#access .tel {
  margin: 0.5em 0 0;
}

#access dl {
  margin: 10vh 0;
}

#access dt {
  font-weight: bolder;
}

#access dd {
  margin: 0 0 1em 2em;
}
