#specials {
  font-size: 120%;
  margin: 0 auto;
  max-width: 600px;
}

#specials .message {
  display: flex;
  justify-content: center;
  padding: 1em;
}

#specials .message h2 {
  color: var(--color-accent);
  font-size: 175%;
  margin: 1em 0;
  text-align: center;
}

#specials .list {
  margin: 0;
  padding: 0 0 30vh;
}

#specials .list li {
  padding: 20vh 0;
}

#specials .list h3 {
  border: currentColor solid 1px;
  border-left-width: 0.25em;
  border-right-width: 0.25em;
  border-radius: 4px;
  color: var(--color-accent);
  font-size: 120%;
  margin: 1em 0;
  padding: 1em 0;
  text-align: center;
}

#specials .list .link {
  background: var(--color-accent);
  border-radius: 2em;
  box-sizing: border-box;
  color: var(--color-background);
  cursor: pointer;
  display: block;
  margin: 2em 1em 0;
  padding: 1em;
  text-align: center;
}

#specials .list .link:hover {
  background: transparent;
  border: var(--color-accent) solid 1px;
  color: var(--color-accent);
}

#specials article {
  margin: auto;
  padding: 0 0 50vh;
}

#specials article h2 {
  color: var(--color-accent);
  font-size: 150%;
  margin: 1em 0;
}

#specials article a {
  color: var(--color-accent);
  text-decoration: underline;
}

#specials .faq {
  display: block;
  font-size: 100%;
  margin: 25vh 0 0;
  padding: 0 2em;
}

#specials .faq::after {
  content: "💭";
}

#specials .image {
  margin: 2em 0;
  text-align: center;
}

#specials article dl {
  margin: 15vh 0;
}

#specials article dl dt {
  background: var(--color-primary);
  color: var(--color-background);
  letter-spacing: 0.05em;
  padding: 0.5em 1em;
}

#specials article dl dd {
  border: var(--color-primary) solid 1px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  justify-content: end;
  margin: 0;
  padding: 1em 1em 1.5em;
}

#specials .table .time {
  margin: 0.5em 0 0;
  text-align: right;
}

#specials .verse {
  border-radius: 2px;
  box-shadow: 0 1px 4px var(--color-text);
  margin: 2em 0;
  padding: 1em;
}

#specials .verse .text {
  margin: 0 0 0.5em;
}

#specials .verse .reference {
  color: var(--color-accent-complement);
  display: block;
  font-size: 85%;
  text-align: right;
}

@media (max-width: 768px) {
  #specials {
    font-size: 100%;
  }
}
