{{ define "title" }}アクセス - {{ end }}
{{ define "main" }}
<section id="access" class="block" data-scroll="theme-light">
  <div class="box">
    <h2 class="page-title"><b>Access</b><small>アクセス</small></h2>

    <figure>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3244.716077978963!2d140.15532577603886!3d35.585399035232!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60229af5ddea67e9%3A0x1a3e20fa4268ecd5!2z5LuB5oi45ZCN6IGW5pu444OQ44OX44OG44K544OI5pWZ5Lya!5e0!3m2!1sja!2sjp!4v1695564329751!5m2!1sja!2sjp" style="border: 0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </figure>

    <div class="addr">
      <address>
        <small class="postcode">260-0801</small><br />
        千葉市中央区仁戸名町656-15
        <div class="tel">043-263-3883</div>
      </address>
    </div>

    <dl>
      <dt>🚈 電車</dt>
      <dd>京成電鉄<b>大森台駅</b>より徒歩15分</dd>
      <dt>🚌 バス</dt>
      <dd>千葉中央バス<b>仁戸名局</b>より徒歩5分</dd>
      <dt>🚗 お車</dt>
      <dd>駐車場をご利用いただけます</dd>
    </dl>

    <p>住宅街の奥まった一角に位置しております。対応が可能な場合は無料で送迎させていただいておりますので、お気軽にご相談ください。</p>
  </div>
</section>
{{ end }}
