{{ define "title" }}イベント - {{ end }}
{{ define "main" }}
<section id="specials" class="block" data-scroll="theme-light">
  <div class="box">
    <div class="message">
      <div>
        <h2>イベントのご案内</h2>
        <p>初めて教会を訪れる方やまだ教会に慣れていない方にも、理解しやすいような特別礼拝を定期的に開催しています。</p>
        <p>また、賛美コンサートや食事会、子供向けの遠足なども積極的に開催しています。</p>
      </div>
    </div>

    <ul class="list">
      {{ range .RegularPagesRecursive }}
      <li>
        <h3>{{ .Title }}</h3>
        <figure class="image">
          <img src="{{ .RelPermalink }}{{ .Params.cover }}" alt="" />
        </figure>
        <a class="link" href="{{ .RelPermalink }}">詳細</a>
      </li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}
