{{ define "title" }}イベント - {{ end }}
{{ define "main" }}
<section id="specials" class="block" data-scroll="theme-light">
  <div class="box">
    <div class="message">
      <h2>イベントのご案内</h2>
      <p>初めて教会を訪れる方や、まだ教会に慣れていない方にもご理解いただきやすいように、特別礼拝を定期的に開催しています。</p>
      <p>また、賛美コンサートや食事会、子供向けの遠足なども積極的に開催しています。</p>
    </div>

    <ul class="articles">
      {{ range (.Paginator 5).Pages }}
      <li>
        <h3>{{ .Title }}</h3>
        <figure class="image">
          <img src="{{ .RelPermalink }}{{ .Params.cover }}" alt="" />
        </figure>
        <a class="link" href="{{ .RelPermalink }}">詳細</a>
      </li>
      {{ end }}
    </ul>

    {{ template "_internal/pagination.html" . }}
  </div>
</section>
{{ end }}
