{{ define "title" }}よくある質問 - {{ end }}
{{ define "main" }}
<section id="faq" class="block" data-scroll="theme-light">
  <div class="box">
    <h2 class="page-title"><b>FAQ</b><small>よくある質問</small></h2>

    <h3>必要な持ち物はありますか？</h3>
    <p>お持ちであれば聖書をご持参ください。礼拝中に聖書を使用することがありますが、お持ちでない場合は教会で聖書を無料で貸し出ししています。当教会では新改訳聖書を使用しています。</p>

    <h3>どんな服装が良いですか？</h3>
    <p>特別なドレスコードはありません。普段着でお越しください。</p>

    <h3>開始時間のどれくらい前についていればよいですか？</h3>
    <p>礼拝堂は開始30分前から開放されています。開始10分前までにお越しいただけましたら幸いです。</p>

    <h3>特別なしきたりやマナーはありますか？</h3>
    <p>お祈りの際には黙祷の姿勢をとり、最後に「アーメン」と唱和します。また、礼拝中に自由献金がありますが、任意によるものであり、献金が強制されることはありません。</p>

    <h3>小さな子供も参加できますか？</h3>
    <p>礼拝にはお子様と一緒にご参加いただけます。もしお子様が泣いたり騒いでしまった場合は、別室に移動してテレビ視聴ができます。教会には小さなお子様も多いため、対応に慣れた者もおりますのでご安心ください。</p>

    <h3>キリスト教以外の宗教を信仰しています。教会に行ってもよいですか？</h3>
    <p>当教会は、どのような宗教の方でも歓迎しています。当教会は、神様がすべての人を愛されていることを信じています。誰でも福音を聞く機会を得ることができます。</p>

    <h3>お体の不自由な方のための手伝いはありますか？</h3>
    <p>当教会では、移動が不便な方のために無料の送迎サービスを提供しています。また、聴覚障害を持っている方のためには、聖書のお話しのプリントが用意されています。ただし、多目的トイレはございませんのでご了承ください。</p>
  </div>
</section>
{{ end }}
